
.items{
    width: 240px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgb(95, 78, 170);
    padding: 10px 10px;
    overflow: auto;
}
.items img{
    border-radius: 50%;
    margin-top: 20px;
}
.items img h5{
    font-size: 18px;
}
.button{
    background-color: orange;
    border: none;
    margin-top: 20px;
}
.button:hover{
    color: white;
    border:none;
    border-style: none;
    background-color: rgb(46, 223, 11);
    font-weight: 600;
}