.shop-container{
    overflow: auto;
    height: 250px;
    padding: 10px 10px;
 
}

.enrolled-items{
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(34, 28, 28);
    background-color: rgb(75, 163, 12);
    padding: 10px 0px;
    font-size: 14px;
    text-align: right;
    
}
.enrolled-items img{
    border-radius: 50%;
    margin-top: 0px;
}